<span style="color: blue;">{{httpMethod}}</span>
<span style="color: blue;">{{urlFormat}}</span>
<div>
    <p>request body:</p>
    <pre style="color: blue;">{{requestBody}}</pre>
</div>

<div>
    <p>response body:</p>
    <pre style="color: blue;">{{responseBody}}</pre>
</div>
